{% extends 'layout.twig' %}

{% block body %}

    <div class="layout">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <div id="drop-area">
                Drop your file here
            </div>
        </div>
        <div class="pure-u-1-5"></div>
    </div>
{% endblock %}