{% extends 'layout.twig' %}

{% block body %}

    <div class="layout">
        <div class="pure-u-1-5"></div>
        <div class="pure-u-3-5">
            <div id="drop-area">
                Drop your file here
            </div>

            <br />
            <form method="post" action="/set" class="center">
                <input type="text" name="magnet" /> <button type="submit">Use magnet</button>
            </form>
        </div>
        <div class="pure-u-1-5"></div>
    </div>
{% endblock %}