<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>My Popcorn</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description" content="My Popcorn" />
        <link rel="stylesheet" href="/assets/dev/css/app.css" />
    </head>
    <body>
        <video width="640" height="480" controls autoplay>
            <source src="/stream" type="video/mp4">
        </video>

        <div id="options">
            <a href="/">Ver otra cosa</a>
        </div>
    </body>
</html>